.messages {
  position: fixed;
  right: 10px;
  bottom: 10px;
  .message {
    background: #fcf4ef;
    color: #1b3647;
    padding: 6px;
    min-height: 40px;
    margin: 4px;
    display: inline-block;
    float: right;
    clear: both;
    max-width: 200px;
    border-radius: 3px;
  }

  .message-enter {
    opacity: 0.01;
  }

  .message-enter.message-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .message-leave {
    opacity: 1;
  }

  .message-leave.message-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

}