@import '../Inputs/inputs';

.registration-form {

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  .wrapper {
    width: 774px;
    margin: 0 auto;
  }

  .logo {
    margin: 0 auto 20px auto;
    width: 308px;
    display: block;
  }

  .title-primary {
    color: #fff;
    font-size: 54px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .title-secondary {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 110px;

    em {
      text-decoration: underline;
    }
  }

  .bottom-panel {
    width: 375px;
    margin: 140px auto 20px auto;
    text-align: center;
  }

  // Switch for 1 - 5 offers
  .offer-type {
    margin: 0 auto 48px auto;
    text-align: center;
  }

  .switch {
    label {
      vertical-align: middle;
    }
    span {
      color: #ff7a00;
      font-size: 33px;
      margin: 3px 0 0 0;
    }
  }


  .input {
    width: 375px;
    margin: 6px;
    text-align: left;
  }

  .input.vid-number {
    width: 152px;
    background: #fff;
  }

  .input.ticket-count {
    width: 48px;
    background: #fff;
  }


  .register-button {
    background: #1b3647;
    color: #fff;
    border-radius: 3px;
    border: 0;
    height: 52px;
    width: 375px;
    font-size: 23px;
    padding: 0;
    text-align: center;
    display: block;
    text-transform: uppercase;
    line-height: 23px;
    margin: 0 auto;
    cursor: pointer;
  }

}