@import '../node_modules/reset-css/reset.css';
@import './components/RegistrationForm/registration';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:500,700');

* {
  box-sizing: border-box;
}


body {
  background: url(./images/bg-gradient.png) 0 0 repeat-x;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

body,
html,
#app {
  min-height: 100%;
  height: 100%;
}